@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro+Titling&display=swap');


:root{
    --orenge:#ff8800;
    --white:#ffff;
    --gray1:#525252;
    --gray2:#746f6f;
    --black:#000;

}
body{
    position: relative;
    margin: 0;padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.headbar{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    color: var(--white);
}
.headbar .headtop{
    margin-top: 2vh;
}
/* .head-div{
    position: absolute;
    margin-top: ;
} */
.hallname{
    transition: 2s;
    font-family: 'Castoro Titling', cursive;
    font-size: larger;
}
.hallname:hover{
    color: var(--orenge);
    transition: 0.5s;
}
.menubar{
    transition: 2s;
}
.menubar:hover{
    color: var(--orenge);
    transition: 0.5s;
}
/* hover eka hadann */
/* .swiper {
    width: 100%;
    height: 100%;
    
  } */
.header-images{
    color: #fff;
    height: 500px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .header-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 48px;
    text-align: center;
    z-index: 10;
}


@media(min-width:768px){
   .header-title{
        font-size: 64px;
    }
    .header-images{
        height: 500px;
    }
}
@media(min-width:992px){
     .header-title{
        font-size: 92px;
        text-shadow: 1px 1px #ff8800 ;
    }
    .header-images{
        height: 600px;
    }
}
/* header images  */
.image1{
    opacity: 0.6;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("images/couple_01.jpg") center/cover no-repeat ;
}
.image2{
    opacity: 0.9;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("images/couple_02.jpg") center/cover no-repeat;
}

.contact-btn{
    margin-top: 20px;
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--white);
    background-color: transparent;
    border-color: var(--white);
    text-transform: uppercase;
}
.contact-btn:hover{
    box-shadow: 0 0 10px#fff;
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.5s;
}


@keyframes backcolor {
    100%{
      background-position: 0 0;
    }
}

/* sidenav */
.sidenav{
    background: var(--gray1);
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 5%;
    right: -100%;
    width: 50vw;
    padding: 20px;
    transition: all 0.5s ease;
    z-index: 10;
}
@media(min-width: 400px){
    .sidenav{
        width: 200px;
    }
}
@media(min-width: 600px){
    .sidenav{
        width: 300px;
    }
}
.sidenav.show{
    right: 0;
}
.cancel-btn{
    position: absolute;
    right: 25px;
    font-size: 26px;
    cursor: pointer;
    transition: all 1.5s ease;
}
.cancel-btn:hover{
    color: var(--orenge);
    transform: scale(1.5);
    transition: 0.3s;
}
.mynavbar{
    margin-top: 50px;
    list-style: none;
    padding: 12px;
}
.mynavbar li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid rgba(245, 205, 46, 0.637);
    letter-spacing: 1.5px;
    transition: all 0.5s ease;
}
.mynavbar li a:hover{
    padding-left: 15px;
    color: var(--orenge);
}
.showModal{
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.propimg{
    height: 10rem;
}
@media(min-width:768px){
    .propimg{
        height: 14rem;
    }
}
.propertySwiper{
    display: flex;
    justify-content: end;
    align-items: center;
}
.propertySwiper .swiper-slide{
    display: flex;
    justify-content: end;
    align-items: center;
}